.user-form{
  .form-field-outer{
    width: 280px;
  }
  .mat-radio-button{
    margin-right: 12px;
  }
}
.cdk-overlay-pane{
  width: 80% !important;
  max-width: 100% !important;
}

.categories-list-table {
  width: 100%;
}
